@import "../general";

.workflow {
  margin-top: 60px;
  min-height: calc(100% - 60px);
  margin-left: 45px;
  width: calc(100% - 45px);
  background-color: #f6f7fa;
  padding: 30px 0;

  &-item {
    border: 1px solid rgba(132, 146, 175, 0.3);
    width: 100%;
    display: flex;
    align-items: center;
    height: 60px;
    position: relative;
    background: white;

    &-wrapper {
      margin-bottom: 10px;
    }
  }

  &-list {
    max-width: 100%;
    width: 230px;
  }

  &-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

    @media (min-width: $_md) {
      min-height: calc(100vh - 120px);
      margin-bottom: 0;
    }

    &:last-of-type {
      .workflow-section-title::after {
        content: ''!important;
      }
    }

    &-title {
      font: 700 20px $main-font;
      color: $_black;
      max-width: 100%;
      width: 230px;
      margin-bottom: 20px;
      position: relative;
      .number {
        color: $_grey;
      }

      &::after {
        content: '\f105';
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        position: absolute;
        right: 0;
        font-size: 26px;
        color: $_grey;
      }
    }
  }

  &-list {
    height: 100%;
  }

}

