@import "../general";

.activity {

  &:last-of-type {
    .activity-icon::after {
      content: '';
      width: 0;
    }
  }
  &-icon {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    margin-right: 10px;
    img {
      vertical-align: top;
      width: 100%;
      height: 100%;
    }
    &::after {
      content: '';
      width: 1px;
      display: block;
      border-bottom: 60px solid #dadfe7;
      margin-left: 50%;
    }
  }

  &-author {
    font: 700 13px $main-font;
    color: $_black;
    white-space: nowrap;
  }

  &-type {
    font: 400 13px $main-font;
    color: $_grey;
    margin: 0 5px;
    white-space: nowrap;
  }

  &-target {
    font: 700 13px $main-font;
    color: $_black;
    white-space: nowrap;
  }

  &-data {
    max-width: calc(100% - 60px);
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 10px;
  }

  &-time {

    &::before {
      content: '\f017';
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      margin-right: 3px;
    }
    font: 400 13px $main-font;
    margin-top: 7px;
    color: $_grey
  }
}