@import '../general';

.home {
  margin-top: 60px;
  min-height: calc(100vh - 60px);
  margin-left:  45px;
  width: calc(100% - 45px);
  background-color: $_section-bg;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  .row {
    width: 100%;
  }

  &-greeting {
    color: $_black;
    font: 700 40px $main-font;
    align-self: flex-start;
    margin-left: 15px;
    @media (max-width: $_sm) {
      align-self: center;
      margin-left: 0;
    }
  }

  .service {

    margin-top: 20px;
    border: 1px solid rgba(132, 146, 175, 0.3);
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;

    &.incomplete {
      .service-item:last-of-type {
        border-bottom: 1px solid rgba(132, 146, 175, 0.3);
      }
    }

    &-list {
      height: calc(100% - 65px);
    }

    &-item {
      border-top: 1px solid rgba(132, 146, 175, 0.3);
      width: 100%;
      display: flex;
      align-items: center;
      height: 25%;
      position: relative;
      padding: 15px 20px;

      &.active {
        background-color: #f4f5f8;
      }

      &.no-borders {
        &:first-of-type {
          border-top: 1px solid rgba(132, 146, 175, 0.3);
        }

        border: none;
      }
    }

    &-wrapper {
      display: flex;
    }

    &-header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 25px;
    }

    &-title {
      color: $_black;
      font: 500 20px $main-font;
    }

    &-number {
      width: 35px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font: 500 20px $main-font;
      background-color: $_blue;
      border-radius: 50%;
      margin-left: 5px;

      &.delay {
        background-color: $_red;
      }

      &-wrapper {
        display: flex;
      }
    }

  }

  .chart {

    &-title {
      font: 700 25px $main-font;
      color: $_grey;
    }

    width: 100%;
    background-color: white;
    border: 1px solid rgba(132, 146, 175, 0.3);
    padding: 15px;

    &-data {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-wrapper {
      display: flex;
      margin-top: 20px;
      flex-direction: column;
    }

    &-period {

      border: none;
      font: 700 13px $main-font;
      color: $_black;
      width: 80px;

      &-wrapper {
        height: 40px;
        border-radius: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 5px 0 10px;
        border: 1px solid rgba(132, 146, 175, 0.3);
        @media (min-width: $_lg) {
          &::before {
            content: 'Period: ';
            font: 700 13px $main-font;
            color: $_grey;
          }
        }
      }

      option {
        font: 700 13px $main-font;
        color: $_black;
      }
    }
  }

}