@import "../general";

.message {
  &-author {
    font: 700 12px $main-font;
    color: $_black;
    white-space: nowrap;
  }

  &-data {
    width: calc(100% - 60px);
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-time {
    color: #8492af;
    font: 400 12px $main-font;
    margin-left: 5px;
    white-space: nowrap;
  }

  &-text {
    color: $_black;
    font: 400 13px $main-font;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 2px;
  }

  &-icon {
    margin-right: 10px;
    width: 37px;
    height: 37px;
    border-radius: 50%;

    img {
      vertical-align: top;
      width: 100%;
      height: 100%;
    }
  }

  &-options {
    margin-left: 5px;
  }

}