@import '../general';

.task {

  &-name {
    color: $_black;
    font: 700 16px $main-font;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-width: 100%;

    &:hover {
      color: $_black;
      text-decoration: none;
    }

    &:visited {
      color: $_black;
    }
  }

  &-icon {
    background-color: $_blue;
    border-radius: 50%;
    color: white;
    font: 500 20px $main-font;
    text-transform: uppercase;
    width: 37px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
  }

  &-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: calc(100% - 90px);

    h5 {
      width: 100%;
    }
  }

  &-options {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 25px;

    &:focus, &:active {
      outline: none;
    }

    img {
      vertical-align: top;
    }
  }

  &-status {
    font: 400 12px $main-font;
    margin-top: 10px;

    &.delay {
      color: $_red;

      &::before {
        content: '\f017';
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        margin-right: 5px;
      }
    }

    &.completed {
      color: #00bf1b;

      &::before {
        content: '\f05d';
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        margin-right: 5px;
      }
    }

    &.work {
      color: $_grey;

      &::before {
        content: '\f017';
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        margin-right: 5px;
      }
    }
  }

}