@import '../general';

.home {
  margin-top: 60px;
  min-height: calc(100vh - 60px);
  margin-left:  45px;
  width: calc(100% - 45px);
  background-color: #f6f7fa;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-greeting {
    color: $_black;
    font: 700 30px $main-font;
    @media (max-width: #{$_md - 1}) {
      display: flex;
      justify-content: center;
    }
  }

  .content-wrapper {
    width: 800px;
    max-width: 100%;
  }

  .service {

    margin-top: 20px;
    border: 1px solid rgba(132, 146, 175, 0.3);
    display: flex;
    flex-direction: column;
    width: 240px;
    max-width: 100%;
    height: 270px;
    background-color: white;
    border-collapse: collapse;

    &.incomplete {
      .service-item:last-of-type {
        border-bottom: 1px solid rgba(132, 146, 175, 0.3);
      }
    }

    &-item {
      border-top: 1px solid rgba(132, 146, 175, 0.3);
      width: 100%;
      display: flex;
      align-items: center;
      height: 25%;
      position: relative;

      &.active {
        background-color: #f4f5f8;
      }

      &.no-borders {
        &:first-of-type {
          border-top: 1px solid rgba(132, 146, 175, 0.3);
        }

        border: none;
      }
    }

    &-wrapper {
      display: flex;
      &:last-child {
        justify-content: flex-end;
      }

      &:nth-child(2) {
        justify-content: center;
      }

      @media (max-width: #{$_md - 1}) {
        justify-content: center!important;
      }
    }

    &-list {
      height: 80%;
      margin-bottom: 0;
    }

    &-header {
      width: 100%;
      height: 20%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 15px;
    }

    &-title {
      color: $_black;
      font: 500 18px $main-font;
    }

    &-number {
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font: 500 14px $main-font;
      background-color: $_blue;
      border-radius: 50%;
      margin-left: 5px;

      &.active {
        background-color: $_red;
      }

      &-wrapper {
        display: flex;
      }
    }

  }

  .chart {

    &-title {
      font: 700 20px $main-font;
      color: $_grey;
    }

    height: 240px;
    max-width: 100%;
    background-color: white;
    border: 1px solid rgba(132, 146, 175, 0.3);
    padding: 15px;

    &-data {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    &-wrapper {
      display: flex;
      &:last-child {
        justify-content: flex-end;
      }

      @media (max-width: #{$_md - 1}) {
        justify-content: center;
      }
      margin-top: 20px;
    }

    &-period {

      border: none;
      font: 700 9px $main-font;
      color: $_black;
      width: 60px;

      &-wrapper {
        width: 100px;
        height: 25px;
        border-radius: 24px;
        padding: 5px 0 5px 5px;
        display: flex;
        align-items: center;
        border: 1px solid rgba(132, 146, 175, 0.3);
        &::before {
          content: 'Period: ';
          font: 700 9px $main-font;
          color: $_grey;
          position: relative;
        }
      }

      option {
        font: 700 9px $main-font;
        color: $_black;
      }
    }
  }

}