@import '../general';

.fixed-sidebar {

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 60px;
  transition: .2s;
  height: 100vh;
  background-color: $_dark-blue;
  overflow: hidden;

  &.opened {
    width: 200px;
    @media (max-width: $_sm) {
      width: 160px;
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style-type: none;
  }

  &-logo {
    margin-left: 12px;
    transition: .2s;
    margin-top: 4px;
    height: $_fixed-header-height;
  }
}