@import '../general';

.fixed-header {
  height: $_fixed-header-height;
  position: fixed;
  z-index: 1000;
  border-bottom: 1px solid rgba(132, 146, 175, 0.3);
  width: 100%;
  left: 0;
  top: 0;
  background-color: white;


  .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
  }

  .dropdown-toggle::after {
    vertical-align: 0!important;
    margin-left: 5px;
  }

  .toggle-menu {
    border: none;
    background: transparent;
    position: absolute;
    left: 80px;
    transition: .2s;

    &.opened {
      left: 235px;

      @media (max-width: $_sm) {
        left: 175px;
      }
    }

    i {
      color: $_black;
      &.fa-caret-left {
        color: $_blue;
        position: relative;
        left: -25px;
      }

      &.fa-caret-right {
        color: $_blue;
        position: relative;
        left: 5px;
      }
    }

    &:active, &:focus {
      outline: none;
    }
  }


  .search-box {

    &-wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 0;
      width: 30px;

      &:focus-within {
        i {
          opacity: 0;
        }
      }

      i {
        opacity: 1;
        transition: .2s;
        color: $_black;
      }
    }

    padding: 0 0 0 5px;
    border: none;
    width: 100%;

    &:focus, &:active {

      &::-webkit-input-placeholder {
        visibility: visible;
      }

      outline: none!important;
    }

    &::-webkit-input-placeholder {
      visibility: hidden;
      color: $_grey;
      font: 700 18px $main-font;
    }
  }

  .new-project {
    i {
      color: #aac2ff;
      margin-right: 7px;
    }

    &:hover {
      text-decoration: none;
    }

    background-color: $_blue;
    border-radius: 24px;
    padding: 7px 15px;
    color: white;
    letter-spacing: 0.24px;
    font: 700 10px $main-font;
    @media (max-width: $_sm) {
      display: none;
    }
  }


}