$main-font: Roboto, sans-serif;

$_blue: #5584ff;
$_dark-blue: #0e1a35;
$_grey: #8492af;
$_black: #0e1a35;
$_red: #f83c7b;
$_section-bg: #f6f7fa;

$_sm: 576px;
$_md: 768px;
$_lg: 992px;
$_xl: 1200px;

$_fixed-header-height: 70px;
$_fixed-sidebar-width: 60px;