@import "../../node_modules/bootstrap/scss/bootstrap";

@import '../../node_modules/font-awesome/css/font-awesome.css';

@import url('https://fonts.googleapis.com/css?family=Roboto');

@import 'general';

button, a {
  cursor: pointer;
}

button {
  border: none;
  background: transparent;
}

* {

  margin: 0;
  padding: 0;
  list-style-type: none;
  &:focus, &:active {
    outline: none;
    box-shadow: none!important;
  }
}

h1, h2, h3, h4, h5, h6, ul, ol, p {
  margin-bottom: 0;
}

.page-content {
  padding-left: 0;
  transition: .2s;

  &.opened {
    @media (min-width: $_md) {
      padding-left: 155px;
    }
  }
}

