@import "general";

$_pd-bottom: 30px;

.calendar {

  @media (min-width: $_lg) {
    padding: 90px 20px $_pd-bottom 65px;
    min-height: calc(100vh + 90px + #{$_pd-bottom});
  }
  padding: 60px 0 $_pd-bottom 45px;
  height: 0;
  min-height: calc(100vh + 60px + #{$_pd-bottom});
  width: 100%;
  background-color: $_section-bg;

  div[class*='-view'] {
    background-color: white;
  }

  .container {
    height: 100%;
  }

  .rbc {
    &-calendar {
      max-width: 100%;
      overflow: hidden;
    }

    &-month-row {
      overflow: visible;
    }

    &-show-more {
      color: $_black;
      text-decoration: none;
    }

    &-btn-group {
      @media (max-width: $_sm) {
        display: none;
      }
    }

    &-month-view {
      .rbc {

        &-row-content {
          z-index: initial;
        }

        &-off-range-bg {
          background-color: white;
        }

        &-event {
          background-color: $_section-bg;
          padding: 8px 0 8px 10px;
          display: flex;
          align-items: center;
          color: $_black;
          font: 500 14px $main-font;
          margin: 1px 2px;
          border-left: 3px solid $_red;
          border-radius: 0;
          position: relative;

          &-edit {
            color: white;
            font: 700 15px $main-font;
            padding: 10px 30px;
            background-color: $_blue;
            border-radius: 24px;

            &:hover {
              text-decoration: none;
            }
          }

          &-data {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            margin-bottom: 0;
            height: 100%;
            justify-content: space-between;

            .data-item {
              display: flex;
              justify-content: space-between;
              font: 700 12px $main-font;

              span:first-child {
                color: $_grey;
                text-transform: uppercase;
                margin-right: 20px;
              }

              span:last-child {
                color: $_black;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }

          &-author {
            display: flex;
            flex-direction: column;
            margin-left: 10px;

            .author {
              &-name {
                color: $_black;
                font: 700 18px $main-font;
              }
              &-position {
                color: $_grey;
                font: 500 12px $main-font;
              }
            }
          }

          &-part {
            &:first-of-type {

              .part-wrapper {
                display: flex;
                align-items: center;
              }
              height: 33%;
              padding: 15px;
              display: flex;
              flex-direction: column;
              border-bottom: 1px solid #dadee7;

              &::before {
                content: 'author:';
                color: $_grey;
                font: 700 12px $main-font;
                text-transform: uppercase;
                margin-bottom: 10px;
              }

            }
            &:nth-of-type(2) {
              height: 42%;
              padding: 15px;
              border-bottom: 1px solid #dadee7;

            }
            &:last-of-type {
              height: 25%;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }

          &-expand {
            position: absolute;

            &.right {
              left: calc(100% + 15px);

              &::before, &::after {
                content: '';
                position: absolute;
                left: -20px; top: 10px;
                border: 10px solid transparent;
                border-right: 10px solid white;
              }

              &::after {
                border-right: 10px solid rgba(132, 146, 175, 0.3);
                left: -21px;
                z-index: -1;
              }

            }

            &.left {
              right: calc(100% + 15px);

              &::before, &::after {
                content: '';
                position: absolute;
                right: -20px; top: 10px;
                border: 10px solid transparent;
                border-left: 10px solid white;
              }

              &::after {
                border-left: 10px solid rgba(132, 146, 175, 0.3);
                right: -21px;
                z-index: -1;
              }

            }

            width: 200px;
            height: 250px;

            @media (max-width: $_sm) {
              display: none;
            }
            top: 0;
            background: white;
            border: 1px solid rgba(132, 146, 175, 0.3);
            z-index: 5;
            display: flex;
            flex-direction: column;
            align-items: stretch;

            &.hidden {
              display: none;
            }
          }
        }

        &-header {
          font: 700 16px $main-font;
          color: $_black;
          height: 40px;
          padding-left: 15px;
          display: flex;
          align-items: center;
          text-transform: uppercase;
        }

        &-date-cell {
          text-align: left;
          padding-left: 15px;
          font: 700 16px $main-font;
          color: $_black;
        }
      }
    }

  }
}