@import "general";

.statistics {
  margin-top: $_fixed-header-height;
  min-height: calc(100vh - #{$_fixed-header-height});
  margin-left: $_fixed-sidebar-width;
  width: calc(100% - #{$_fixed-sidebar-width});
  background-color: $_section-bg;
  padding: 50px 0;

  &-header {
    @media (max-width: $_sm) {
      flex-direction: column;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
  }

  &-title {
    @media (max-width: $_sm) {
      font-size: 25px;
      margin-bottom: 20px;
    }
    font: 700 30px $main-font;
    color: $_black;
  }

  .chart {

    &-title {
      font: 700 25px $main-font;
      color: $_grey;
    }

    &-stats-legend {
      color: $_grey;
      font: 400 16px $main-font;
      &.number  {
        font: 700 25px $main-font;
        margin-bottom: 5px;
      }
    }

    &-half {
      height: 50%;
      width: 100%;
      padding: 15px;

      &:last-child {
        border-top: 1px solid rgba(132, 146, 175, 0.3);
      }
    }

    width: 100%;
    background-color: white;
    border: 1px solid rgba(132, 146, 175, 0.3);
    padding: 15px;

    &-doughnut {

      justify-content: center;

      @media (max-width: $_sm) {
        flex-direction: column;
      }

      @media (max-width: $_md) {
        margin-bottom: 40px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &-wrapper {
        padding: 70px 0;
      }
    }

    &-content {
      @media (max-width: $_sm) {
        margin-bottom: 20px;
      }
    }

    &-scatter {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-data {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    &-wrapper {
      display: flex;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &-period {

      border: none;
      font: 700 13px $main-font;
      color: $_black;
      width: 80px;
      background-color: $_section-bg;

      &-wrapper {
        display: none;
        &.visible {
          display: flex;
        }
        height: 40px;
        border-radius: 24px;
        align-items: center;
        justify-content: center;
        padding: 0 5px 0 10px;
        border: 1px solid rgba(132, 146, 175, 0.3);
        &::before {
          content: 'Period: ';
          font: 700 13px $main-font;
          color: $_grey;
        }
      }

      option {
        font: 700 13px $main-font;
        color: $_black;
      }
    }
  }

  .no-gut-p {
    padding: 0;
  }

}