@import '../general';

.form {

  display: flex;
  flex-direction: column;
  align-items: center;

  &-input {
    border-left: none!important;
    border-right: none!important;
    border-top: none!important;
    background: transparent;
    border-radius: 0;
    padding-bottom: 8px;
    border-bottom: 1px solid #d4d9e3;
    min-width: 285px;
    padding-left: 35px;
    &::-webkit-input-placeholder {
      color: $_grey;
      font: 300 14px $main-font;
    }
  }

  &-label {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 285px;

    &.register {
      margin-bottom: 10px;
    }

    img, i {
      position: relative;
      left: 20px;
      color: $_blue;
    }
  }



  &-submit {
    background-color: $_blue;
    border-radius: 36px;
    padding: 10px 80px;

    &.register {
      margin-top: 15px;
    }

    i {
      position: relative;
      left: 50px;
    }
  }

}

.tab{
  height: 350px;
  background: #f6f7fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-title {
    color: $_grey;
    font: 300 24px $main-font;

    &.register {
      margin-bottom: 25px;
    }

    .highlight {
      color: $_blue;
    }
  }

}


